@use "sass:string";

$figure-height: 10em;
$tablet-threshold: 700px;
$desktop-threshold: 1000px;
$desktop-screen-width: string.unquote("(width > #{$desktop-threshold})");
$tablet-screen-width: string.unquote(
  "(width > #{$tablet-threshold}) and (width <= #{$desktop-threshold})"
);
$mobile-screen-width: string.unquote("(width <= #{$tablet-threshold})");
