%icon {
  display: block;
  width: 1em;
  height: 1em;
  background-size: contain;
}

@mixin -create-icon-bg($icon-names...) {
  @each $icon-name in $icon-names {
    .icon-#{$icon-name} {
      @extend %icon;

      background-image: url("../img/icon-#{$icon-name}.svg");
    }
  }
}

@include -create-icon-bg(github, linkedin, twitter, open-in-new, email, phone);
