@use "diagonal-background";
@use "sass:string";

@mixin intro($main-color) {
  .introduction {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    // height: 60vh;

    $top-background-height: 50px;

    @include diagonal-background.diagonal-background(
      $top-background-height,
      $main-color
    );

    $figure-height: 10em;

    article {
      $introduction-height: 70vh;

      // min-height: $introduction-height;
      margin: 0 3em;

      // width: 30em;
      background-color: yellow;
      border: 1px solid #000;

      $tablet-threshold: 700px;
      $desktop-threshold: 1000px;
      $desktop-screen-width: string.unquote("(width > #{$desktop-threshold})");
      $tablet-screen-width: string.unquote(
        "(width > #{$tablet-threshold}) and (width <= #{$desktop-threshold})"
      );
      $mobile-screen-width: string.unquote("(width <= #{$tablet-threshold})");

      @media screen and #{$desktop-screen-width}, #{$tablet-screen-width} {
        figure {
          height: $figure-height;
          transform: scale(1.4);

          $float-offset: 2em;

          @media #{$desktop-screen-width} {
            margin-right: $float-offset;
          }

          @media #{$tablet-screen-width} {
            position: relative;

            //      figcaption {
            //        position: absolute;
            //        left: 75%;
            //        bottom: 75%;
            // color: #000;
            //      }
            margin: {
              right: $float-offset;
              bottom: $float-offset;
            }
          }
        }

        h1 {
          padding: {
            left: 0.5em;
            top: 1em;
            bottom: 1em;
          }
        }

        // min-height: 1em;
      }

      @media screen and  #{$mobile-screen-width} {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px {
          bottom: 0;
          top: 50px;
        }

        figure {
          order: 1;
          float: none;
          width: 100%;

          // height: 500px;
        }

        img {
          width: 100%;
        }

        h1 {
          order: 2;
          width: 100%;
        }

        span {
          order: 3;
        }
      }
    }

    font-size: 1em;

    $img-size: 50vw;

    h1 {
      display: inline-block;
      width: calc(100% - #{$figure-height});
    }

    // figure,
    // img {
    //   max-width: $img-size;
    // }

    img {
      height: 100%;
      object-fit: cover;
    }

    span {
    }

    figure {
      height: 100%;
      float: left;
      position: relative;

      // left: -30px;
      // top: -30px;
      // transform: scale(1.2);

      > figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        width: 100%;
        text-align: center;
      }
    }
  }
}
