@use "diagonal-background";

@mixin intro($main-color) {
  .introduction {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    // height: 60vh;

    $top-background-height: 50px;

    @include diagonal-background.diagonal-background(
      $top-background-height,
      $main-color
    );

    $figure-height: 50vh;

    article {
      $introduction-height: 70vh;

      min-height: $introduction-height;
      margin: 0 150px;
      background-color: yellow;
      border: 1px solid #000;

      @media screen and (width > 930px) {
        figure {
          height: $figure-height;
          margin-right: 30px;
          transform: scale(1.2);
        }

        min-height: 30vh;
      }
      @media screen and (width <= 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px {
          bottom: 0;
          top: 50px;
        }

        figure {
          order: 1;
          float: none;
          width: calc(100vw - 20px * 2);

          // height: 500px;
        }

        img {
          width: 100%;
        }

        h1 {
          order: 2;
          width: 100%;
        }

        span {
          order: 3;
        }
      }
    }

    font-size: 30px;

    $img-size: 50vw;

    h1 {
      display: inline-block;
      width: calc(100% - #{$figure-height});
      text-align: center;
    }

    // figure,
    // img {
    //   max-width: $img-size;
    // }

    img {
      height: 100%;
      object-fit: cover;
    }

    span {
    }

    figure {
      height: 100%;
      float: left;
      position: relative;

      // left: -30px;
      // top: -30px;
      // transform: scale(1.2);

      > figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        width: 100%;
        text-align: center;
      }
    }
  }
}
