@use "breakpoints";

.links {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  gap: 0.5em;
  order: 4;

  @media screen and #{breakpoints.$tablet-screen-width} {
    display: none;
  }

  svg {
    width: 1em;
  }
}
