@use "reset";
@use "introduction";
@use "icons";
@use "work";
@use "contact-me";
@use "breakpoints";

$main-color: #00c8e6;

html {
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2em;

  > * {
    flex: auto;
  }

  > .introduction {
    min-height: 100vh;

    @media screen and (aspect-ratio <= 1/0.9) {
      @media not #{breakpoints.$mobile-screen-width} {
        article {
          margin-top: 4em;
        }
      }

      min-height: 0;
    }
  }

  .contact-me {
    background-color: $main-color;
  }
}

@include introduction.intro($main-color);
