@use "reset";
@use "introduction";

$main-color: #00c8e6;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > * {
    flex: auto;
  }

  > section {
    min-height: 100vh;
  }

  .contact-me {
    background-color: $main-color;
  }
}

@include introduction.intro($main-color);
